# Emacs backup files
*~
*#
.#*
# Vim file artifacts
.*.sw*
# installed platform-specific binaries
/bin
.DS_Store
.project

/first-network

/chaincode-docker-devmode

# fabric sdk node modules
/fabcar

/basic-network

/chaincode

/chaincode-docker-devmode

/high-throughput

/scripts

# Medichain sample
Medichain/.DS_Store
Medichain/node_modules/*
